<!--<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    
    <div class=" ">
        <a class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">

        </a>
        <span class="mb-3 mb-md-0 text-body-secondary">&copy; María Belén Núñez Franco | Telecommunications Systems
            Engineer </span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="linkedin"><a class="linkedin"
                href="https://www.linkedin.com/in/mar%C3%ADa-bel%C3%A9n-n%C3%BA%C3%B1ez-franco-6a0192174/"><svg
                    class="linkedin" width="40" height="50">
                    <image href="\assets\images\iconos\linkedin.svg"></image>
                </svg></a></li>

    </ul>
</footer>-->

<footer class="d-flex justify-content-between align-items-center py-3 px-4 border-top" style="gap: 5%;">
    <span class="text-body-secondary small">&copy; María Belén Núñez Franco | Telecommunications Systems Engineer</span>

    <a href="https://www.linkedin.com/in/mar%C3%ADa-bel%C3%A9n-n%C3%BA%C3%B1ez-franco-6a0192174/"
        class="text-decoration-none linkedin">
        <img src="/assets/images/iconos/linkedin.svg" alt="LinkedIn" class="img-fluid" style="width: 180%;"
            class="linkedin-icon">
    </a>
</footer>