* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;

}

.container {
    height: 50%;
    position: relative;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Gif {
    position: relative;
    height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-150%);
    box-shadow: 0 25px 50px rgb(0, 0, 0.5);

}