/* Fisrt Section*/

.overlay-text {

    color: rgb(10, 10, 10);
    text-align: left;
    padding: 10px;
    z-index: 1;
    position: absolute;
    top: 55%;
    left: 22%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(235, 235, 235);

}

#role {
    color: rgb(0, 0, 0);
    background-color: #67e7e1;
    font-size: 250%;
    padding: 10px;
}

.main-container {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgb(66, 64, 64);
    overflow: hidden;
}

.image-container img {
    position: absolute;
    left: 50%;
    height: 70vh;
    bottom: -2%;
    z-index: 2;

}

#circle1 {
    position: absolute;
    background: linear-gradient(to right, rgb(17, 219, 226), rgb(233, 13, 222));
    z-index: 1;
    height: 600px;
    width: 600px;
    border-radius: 50%;
}

#circle2 {
    position: absolute;
    background-color: rgb(120, 127, 129);
    z-index: 1;
    height: 450px;
    width: 450px;
    border-radius: 50%;

}

#circle1,
#circle2 {
    left: 63vw;
    top: 60vh;
    transform: translate(-50%, -50%);
}

.circle-image-wrapper {
    left: 90%;
    background-color: #fff;
}

.background-div {
    position: relative;
    min-height: 90vh;
    width: 100%;

}


.softSkills {
    margin-top: 20px;
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
}

.softSkillsDiv {
    position: relative;
    left: 28%;
    width: 45%;
    height: 100%;
}

#role {

    background-color: rgb(17, 219, 226);
}

/*WIDTH LESS THAN 760PX*/

@media (max-width: 768px) {

    .image-container img {
        height: 70%;
        position: absolute;
        left: 20%;
        bottom: 0%;
        z-index: 2;

    }

    #role {
        color: rgb(0, 0, 0);
        margin-top: 0%;
        background-color: #67bee7;
        font-size: 150%;
        min-width: 100vw;

    }

    .overlay-text {
        min-width: 100vw;
        color: rgb(10, 10, 10);
        text-align: left;
        z-index: 1;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(235, 235, 235);

    }

    #circle1 {
        position: absolute;
        background: linear-gradient(to right, rgb(17, 219, 226), rgb(233, 13, 222));
        z-index: 1;
        left: 50%;
        top: 65%;
        transform: translate(-50%, -50%);
        height: 70%;
        width: 80%;
        border-radius: 50%;
    }

    #circle2 {
        position: absolute;
        background-color: rgb(120, 127, 129);
        z-index: 1;
        left: 50%;
        top: 65%;
        transform: translate(-50%, -50%);
        height: 50%;
        width: 60%;
        border-radius: 50%;
    }

}


@media (max-width: 1800px) {


    #role {
        font-size: 200%;
    }

}



/*SKILLS*/

.skillsContainer {
    position: relative;
    padding-top: 10%;
    margin-top: 0%;

    min-height: 60vh;
    min-width: 100vw;
    background-color: #615f5f;
    /*background: url('/assets/images/home/skills/python.webp');*/
    display: flex;
    object-fit: cover;
    flex-wrap: wrap;
    justify-content: center;

}


.circular-progress {
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background: conic-gradient(#5cccc6 3.6deg, #ededed 0deg);
    display: flex;
    align-items: center;
    justify-content: center;

}

.circular-progress::before {
    content: "";
    position: absolute;
    height: 210px;
    width: 210px;
    background-color: #615f5f;
    border-radius: 50%;

}

.progress-value {
    position: relative;
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
}

.text {
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
}

#skillsText {
    position: relative;
    margin-bottom: 0;

    background-color: #615f5f;
    padding-top: 1%;
    position: absolute;
    z-index: 3;
    left: 5%;
    text-align: center;

}

#skillsText h1 {
    font-size: 4em;
    color: #fff;

}

@media (max-width: 768px) {
    .container {
        padding-top: 10%;
    }
}



/*phone*/

@media (max-width: 300px) {

    .image-container img {
        height: 50%;
    }

    .overlay-text {
        min-width: 100vw;
        color: rgb(10, 10, 10);
        text-align: left;
        z-index: 1;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(235, 235, 235);
        font-size: 100%;

    }

    #role {
        color: rgb(0, 0, 0);
        margin-top: 0%;
        background-color: #67bee7;
        font-size: 100%;
        min-width: 100vw;

    }


    .image-container img {
        position: absolute;
        left: 5%;
        bottom: 0%;
        z-index: 2;

    }

    #circle1 {
        position: absolute;
        left: 85%;
        top: 70%;
        background: linear-gradient(to right, rgb(17, 219, 226), rgb(233, 13, 222));
        z-index: 1;
        height: 400px;
        width: 400px;
        border-radius: 50%;
    }

    #circle2 {
        position: absolute;
        left: 85%;
        top: 70%;
        background-color: rgb(120, 127, 129);
        z-index: 1;
        height: 300px;
        width: 300px;
        border-radius: 50%;

    }


    /*Skills*/
    .container {

        padding-top: 15%;

    }



}

@media(max-width: 400px) {


    .overlay-text {

        padding-top: 0%;

    }

    .image-container img {
        position: absolute;
        left: 15%;
        bottom: 0%;
        z-index: 2;
        height: 40%;

    }


    #circle1 {
        position: absolute;
        left: 85%;
        top: 70%;
        background: linear-gradient(to right, rgb(17, 219, 226), rgb(233, 13, 222));
        z-index: 1;
        height: 300px;
        width: 300px;
        border-radius: 50%;
    }

    #circle2 {
        position: absolute;
        left: 85%;
        top: 90%;


    }

}


@media (max-width: 500px) {



    .overlay-text {
        min-width: 100vw;
        color: rgb(10, 10, 10);
        text-align: left;
        z-index: 1;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(235, 235, 235);
        font-size: 100%;

    }

    #role {
        color: rgb(0, 0, 0);
        margin-top: 0%;
        background-color: #67bee7;
        font-size: 100%;
        min-width: 100vw;

    }


    .image-container img {
        position: absolute;
        left: 25%;
        bottom: 0%;
        z-index: 2;
        height: 30vh;

    }

    #circle1 {
        position: absolute;
        left: 50%;
        top: 60%;
        background: linear-gradient(to right, rgb(17, 219, 226), rgb(233, 13, 222));
        z-index: 1;
        height: 400px;
        width: 400px;
        border-radius: 50%;
    }

    #circle2 {
        position: absolute;
        left: 50%;
        top: 60%;
        background-color: rgb(120, 127, 129);
        z-index: 1;
        height: 300px;
        width: 300px;
        border-radius: 50%;

    }


    /*Skills*/

    .skillsContainer {

        padding-top: 5%;
        min-height: 50vh;
    }


    .circular-progress {
        position: relative;
        height: 70%;
        width: 50%;
        border-radius: 50%;
        background: conic-gradient(#5cccc6 3.6deg, #ededed 0deg);
        display: flex;


    }

    .circular-progress::before {
        content: "";
        position: absolute;
        height: 80%;
        width: 75%;
        background-color: #615f5f;
        border-radius: 50%;

    }

    .progress-value {
        position: relative;
        font-size: 20px;
        font-weight: 600;
        color: #ffffff;
    }

    .text {
        font-size: 15px;
        font-weight: 500;
        color: #ffffff;
    }

    #skillsText {
        position: relative;
        margin-bottom: 0;

        background-color: #615f5f;
        padding-top: 1%;
        position: absolute;
        z-index: 3;
        left: 5%;
        text-align: center;


    }

    #skillsText h1 {
        font-size: 2em;
        color: #fff;
    }



}


@media(max-width: 600px) {
    .overlay-text {
        min-width: 100vw;
        color: rgb(10, 10, 10);
        text-align: left;
        z-index: 1;
        position: absolute;
        top: 26%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: rgb(235, 235, 235);
        font-size: 100%;

    }


    .image-container img {
        height: 50%;
        position: absolute;
        left: 15%;
        bottom: 0%;
        z-index: 2;

    }

    #circle1 {
        position: absolute;
        left: 50%;
        top: 70%;
        background: linear-gradient(to right, rgb(17, 219, 226), rgb(233, 13, 222));
        z-index: 1;
        height: 450px;
        width: 450px;
        border-radius: 50%;
    }

    #circle2 {
        position: absolute;
        left: 50%;
        top: 70%;
        background-color: rgb(120, 127, 129);
        z-index: 1;
        height: 350px;
        width: 350px;
        border-radius: 50%;

    }

}



/* PROJECTS*/

#Projects {
    padding-top: 3%;
    background-color: #615f5f;
}


#botom {
    background-color: rgb(41, 108, 184);
    border-color: aliceblue;
}

#botom:hover {
    background-color: rgb(136, 181, 233);
}

.experiences {
    position: absolute;
    z-index: 3;
}